{
  "users": [
    {"login": "admin",
     "password": "pass",
     "roles": [{"role": "root", "db": "admin"}]},
    {"login": "vidimost-dl",
     "password": "vidimost-dl",
     "roles": [{"role": "readWrite", "db": "vidimost" }]}
  ]
}